/****************************************/

/* common styles used for v1 through v4 */

/****************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(63, 63, 63);
}

#stats {
  border: 2px solid black;
}

#controls {
  background-color: yellow;
  position: fixed;
  width: 10em;
  float: left;
  padding: 1em;
  font-size: 0.7em;
}

#controls th {
  text-align: right;
  vertical-align: middle;
}

#instructions {
  clear: left;
  float: left;
  width: 17em;
  padding: 1em;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
}

#racer {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 1200px;
  height: 800px;
  /* margin-left: 20em; */
  border: 2px solid black;
}

#canvas {
  position: absolute;
  z-index: 0;
  width: 1200px;
  height: 800px;
  z-index: 0;
  background-color: rgb(0, 0, 0);
}

#mute {
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
  background: url(images/mute.png);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  margin: auto;
  left: 0;
}

#mute.on {
  background-position: -32px 0px;
}

/**************************************************/

/* rudimentary heads up display (only used in v4) */

/**************************************************/

#hud {
  position: absolute;
  z-index: 1;
  width: 640px;
  padding: 5px 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8em;
  background-color: rgba(255, 0, 0, 0.4);
  color: black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#hud .hud {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border: 1px solid black;
  margin: 0 5px;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}

#hud #speed {
  float: right;
}

#hud #current_lap_time {
  float: left;
}

#hud #last_lap_time {
  float: left;
  display: none;
}

#hud #fast_lap_time {
  display: block;
  width: 12em;
  margin: 0 auto;
  text-align: center;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}

#hud .value {
  color: black;
  font-weight: bold;
}

#hud .fastest {
  background-color: rgba(255, 215, 0, 0.5);
}
