/****************************************/

/* common styles used for v1 through v4 */

/****************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(155deg, #ff00f5, #00b9ff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 18% 0%;
    }
    50% {
      background-position: 83% 100%;
    }
    100% {
      background-position: 18% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 18% 0%;
    }
    50% {
      background-position: 83% 100%;
    }
    100% {
      background-position: 18% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 18% 0%;
    }
    50% {
      background-position: 83% 100%;
    }
    100% {
      background-position: 18% 0%;
    }
  }
}

.gif {
  -webkit-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  width: 25%;
  top: 10%;
  right: 10%;
}

#stats {
  border: 2px solid black;
}

#controls {
  background-color: rgb(255, 255, 255);
  position: fixed;
  float: left;
  padding: 1em;
  z-index: 1000;
  font-size: 0.7em;
}

#controls th {
  text-align: right;
  vertical-align: middle;
}

#instructions {
  clear: left;
  float: left;
  width: 17em;
  padding: 1em;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
}

#racer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#canvas {
  -webkit-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

/**************************************************/

/* rudimentary heads up display (only used in v4) */

/**************************************************/

#hud {
  z-index: 10;
  width: 50%;
  margin-top: 1%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: Audiowide;
  font-size: 1.5em;
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#hud .hud {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border: 1px solid black;
  margin: 0 5px;
  transition-property: background-color;
  transition-duration: 10s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 10s;
}

#hud #speed {
  float: right;
}

#hud #current_lap_time {
  float: left;
}

#hud #last_lap_time {
  float: left;
  display: none;
}

#hud #fast_lap_time {
  display: block;
  width: 12em;
  margin: 0 auto;
  text-align: center;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}

#hud .value {
  color: black;
  font-weight: bold;
}

#hud .fastest {
  background-color: rgba(255, 215, 0, 0.5);
}
